<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rpgplayground"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".activity.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.rpgplayground.activity.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.rpgplayground.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Prefs"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.rpgplayground.PREFS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Battle"
            android:label="Battle"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.Test"
            android:label="Test"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AudioRecordTest"
            android:label="AudioRecordingTest" >
        </activity>
        <activity
            android:name=".activity.DialogTest"
            android:label="DialogTest" >
        </activity>
        <activity
            android:name=".activity.MapTest"
            android:label="MapTest" >
        </activity>
        <!-- <activity -->
        <!-- android:name=".More" -->
        <!-- android:label="More..." -->
        <!-- android:screenOrientation="portrait" > -->
        <!-- </activity> -->
    </application>

</manifest>